# Architecture support
# CONFIG_ARCH_ACTIONS is not set
# CONFIG_ARCH_AIROHA is not set
# CONFIG_ARCH_SUNXI is not set
# CONFIG_ARCH_ALPINE is not set
# CONFIG_ARCH_APPLE is not set
# CONFIG_ARCH_ARTPEC is not set
# CONFIG_ARCH_ASPEED is not set
# CONFIG_ARCH_AXIADO is not set
# CONFIG_ARCH_BCM is not set
# CONFIG_ARCH_BCM2835 is not set
# CONFIG_ARCH_BCM_IPROC is not set
# CONFIG_ARCH_BCMBCA is not set
# CONFIG_ARCH_BRCMSTB is not set
# CONFIG_ARCH_BERLIN is not set
# CONFIG_ARCH_BLAIZE is not set
# CONFIG_ARCH_BST is not set
# CONFIG_ARCH_CIX is not set
# CONFIG_ARCH_K3 is not set
# CONFIG_ARCH_LG1K is not set
# CONFIG_ARCH_HISI is not set
# CONFIG_ARCH_KEEMBAY is not set
# CONFIG_ARCH_MEDIATEK is not set
# CONFIG_ARCH_MESON is not set
# CONFIG_ARCH_MICROCHIP is not set
# CONFIG_ARCH_SPARX5 is not set
# CONFIG_ARCH_MVEBU is not set
# CONFIG_ARCH_NXP is not set
# CONFIG_ARCH_LAYERSCAPE is not set
# CONFIG_ARCH_MXC is not set
# CONFIG_ARCH_S32 is not set
# CONFIG_ARCH_MA35 is not set
# CONFIG_ARCH_NPCM is not set
# CONFIG_ARCH_QCOM is not set
# CONFIG_ARCH_REALTEK is not set
# CONFIG_ARCH_RENESAS is not set
# CONFIG_ARCH_ROCKCHIP is not set
# CONFIG_ARCH_SEATTLE is not set
# CONFIG_ARCH_INTEL_SOCFPGA is not set
# CONFIG_ARCH_SOPHGO is not set
# CONFIG_ARCH_STM32 is not set
# CONFIG_ARCH_SYNQUACER is not set
# CONFIG_ARCH_TEGRA is not set
# CONFIG_ARCH_TESLA_FSD is not set
# CONFIG_ARCH_SPRD is not set
# CONFIG_ARCH_THUNDER is not set
# CONFIG_ARCH_THUNDER2 is not set
# CONFIG_ARCH_UNIPHIER is not set
# CONFIG_ARCH_VEXPRESS is not set
# CONFIG_ARCH_VISCONTI is not set
# CONFIG_ARCH_XGENE is not set
# CONFIG_ARCH_ZYNQMP is not set

# DRM support
CONFIG_DRM=y
CONFIG_DRM_PANFROST=y
CONFIG_DRM_SIMPLEDRM=y

# NF tables support
CONFIG_NF_TABLES=m
CONFIG_NF_TABLES_INET=y
CONFIG_NFT_CT=m
CONFIG_NFT_LOG=m
CONFIG_NFT_LIMIT=m
CONFIG_NFT_MASQ=m
CONFIG_NFT_NAT=m
CONFIG_NFT_REJECT=m
CONFIG_NF_TABLES_IPV4=y
CONFIG_NF_REJECT_IPV4=m
CONFIG_IP_NF_FILTER=m
CONFIG_IP_NF_TARGET_REJECT=m
CONFIG_IP_NF_NAT=m
CONFIG_NF_TABLES_IPV6=y
CONFIG_NF_REJECT_IPV6=m
CONFIG_IP6_NF_FILTER=m
CONFIG_IP6_NF_TARGET_REJECT=m
CONFIG_IP6_NF_NAT=m
CONFIG_IP_NF_IPTABLES_LEGACY=m
CONFIG_IP6_NF_IPTABLES_LEGACY=m
CONFIG_NETFILTER_XTABLES_LEGACY=y

# PostMarketOS support
CONFIG_BLK_DEV_DM=y
CONFIG_BPF_LSM=y
CONFIG_CRYPTO_XTS=y
CONFIG_DEBUG_INFO_BTF=y
CONFIG_DEBUG_INFO_DWARF5=y
# CONFIG_DEBUG_INFO_REDUCED is not set
CONFIG_DM_CRYPT=y
CONFIG_FTRACE=y
CONFIG_FW_LOADER_COMPRESS=y
CONFIG_FW_LOADER_COMPRESS_ZSTD=y
CONFIG_INPUT_UINPUT=y
CONFIG_KPROBES=y
CONFIG_MODULE_COMPRESS=y
CONFIG_MODULE_COMPRESS_ZSTD=y
CONFIG_MODULE_DECOMPRESS=y
CONFIG_NLS_ASCII=y
CONFIG_NULL_TTY=m
CONFIG_PSI=y
CONFIG_SECURITY_PATH=y
CONFIG_SYN_COOKIES=y
CONFIG_UDMABUF=y
CONFIG_UEVENT_HELPER=y

# Size optimization support
CONFIG_CC_OPTIMIZE_FOR_SIZE=y

# Touchscreen support
CONFIG_TOUCHSCREEN_OVT_TD4150=y

# USB controller support
CONFIG_TYPEC=y
CONFIG_TYPEC_TCPM=y
CONFIG_PHY_EXYNOS5_USBDRD=y
CONFIG_USB_CONFIGFS=y
CONFIG_USB_DWC3_GADGET=y

# WiFi support (Samsung SCSC driver for the Exynos850 integrated WLBT)
CONFIG_WLAN=y
CONFIG_CFG80211=y
CONFIG_SCSC_CORE=y
CONFIG_SCSC_CORE_CM=y
CONFIG_SCSC_PLATFORM=y
CONFIG_SCSC_MXLOGGER=y
CONFIG_SCSC_LOGRING=y
CONFIG_SCSC_STATIC_RING=y
CONFIG_SCSC_LOG_COLLECTION=y
CONFIG_SCSC_COMMON_HCF=y
CONFIG_SCSC_SMAPPER=y
CONFIG_SCSC_QOS=y
CONFIG_SCSC_MMAP=y
CONFIG_SCSC_CLK20MHZ=y
CONFIG_SCSC_WLAN=y
CONFIG_SCSC_WLAN_MAX_INTERFACES=12
CONFIG_SCSC_WLAN_GSCAN_ENABLE=y
CONFIG_SCSC_WLAN_HIP4_PROFILING=y
CONFIG_SCSC_WLAN_SG=y
CONFIG_SCSC_WLAN_RX_NAPI=y
CONFIG_SCSC_WLAN_RX_NAPI_GRO=y
CONFIG_SCSC_WLAN_KEY_MGMT_OFFLOAD=y
CONFIG_SCSC_WLAN_SAE_CONFIG=y
CONFIG_SCSC_WLAN_WIFI_SHARING=y
CONFIG_SCSC_WLAN_ENABLE_MAC_RANDOMISATION=y
CONFIG_SCSC_WLAN_AP_AUTO_RECOVERY=y
